body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    background: #e4de98;
}
.btn {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nom{
    padding-top: 50px;
    text-align: center;
    color: #ff5900;
    font-size: 20px;
}
